/*	COMMON  */
/* -----------------------------
	set buger btn base layout
----------------------------- */
/* line 33, ../sass/partials/_variables.scss */
header .menu-content .wrap-links li a:before, footer .contact-links ul li a:before {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: -10%;
  width: 0%;
  height: 2px;
  margin: 4px auto 0;
  background-color: #DEDC00;
  transition: width .3s ease;
}
/* line 46, ../sass/partials/_variables.scss */
header .menu-content .wrap-links li a:hover::before, footer .contact-links ul li a:hover::before {
  width: 120%;
}

/* line 3, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../sass/partials/_base.scss */
body {
  width: 100%;
  font-family: 'Lato', sans-serif, Arial, Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: #FAFAFA;
  line-height: 2rem;
  margin: 0;
}

/* line 17, ../sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/partials/_base.scss */
h1 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
}

/* line 31, ../sass/partials/_base.scss */
h2 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}

/* line 38, ../sass/partials/_base.scss */
h3 {
  color: #02114B;
  letter-spacing: 1px;
  font-weight: 900;
  margin: 0;
}

/* line 45, ../sass/partials/_base.scss */
p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #9D9D9C;
}

/* line 54, ../sass/partials/_base.scss */
a {
  color: #9D9D9C;
  letter-spacing: 1px;
  text-decoration: none;
  transition: .3s;
}
/* line 60, ../sass/partials/_base.scss */
a:hover {
  color: #DEDC00;
}

/* line 65, ../sass/partials/_base.scss */
ul {
  list-style: none;
  margin: 0;
}

/* line 70, ../sass/partials/_base.scss */
li {
  letter-spacing: 1px;
  margin: 0;
}

/* line 75, ../sass/partials/_base.scss */
figure {
  margin: 0;
  padding: 0;
}

/* line 80, ../sass/partials/_base.scss */
.bold {
  font-weight: 900;
}

/* line 84, ../sass/partials/_base.scss */
.add-blur {
  filter: blur(10px);
  transition: all .6s ease;
}

/* line 90, ../sass/partials/_base.scss */
.yester {
  font-family: 'Yesteryear', cursive;
}

/* line 94, ../sass/partials/_base.scss */
.width {
  width: 100%;
  padding: 0 6%;
}

/* line 99, ../sass/partials/_base.scss */
.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  /* line 109, ../sass/partials/_base.scss */
  h1 {
    line-height: 3.5rem;
  }

  /* line 113, ../sass/partials/_base.scss */
  h2 {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
/* line 2, ../sass/partials/_header.scss */
header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
}
/* line 8, ../sass/partials/_header.scss */
header .menu-content {
  position: absolute;
  right: 4%;
  top: 54px;
  opacity: 0;
  transition: all .6s ease;
}
/* line 15, ../sass/partials/_header.scss */
header .menu-content .wrap-links {
  text-align: right;
}
/* line 18, ../sass/partials/_header.scss */
header .menu-content .wrap-links li {
  margin-bottom: 8px;
}
/* line 21, ../sass/partials/_header.scss */
header .menu-content .wrap-links li a {
  position: relative;
  display: inline-block;
}
/* line 31, ../sass/partials/_header.scss */
header .wrap-links-sp {
  display: none;
  opacity: 0;
}

/* line 37, ../sass/partials/_header.scss */
.logo {
  position: fixed;
  top: 54px;
  left: 6%;
  z-index: 150;
  transition: all .6s ease-in;
}
/* line 44, ../sass/partials/_header.scss */
.logo svg {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
}
/* line 51, ../sass/partials/_header.scss */
.logo .wrap-gauge {
  position: absolute;
  top: 30%;
  display: block;
  width: 60%;
  height: 70%;
  z-index: 2;
}
/* line 59, ../sass/partials/_header.scss */
.logo .wrap-gauge #gauge {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #DEDC00;
}
/* line 69, ../sass/partials/_header.scss */
.logo #logo-rt {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all .6s ease-in;
}
/* line 74, ../sass/partials/_header.scss */
.logo.first {
  top: 50%;
  left: 50%;
  position: fixed;
  top: calc(50% - 120px/2);
  left: calc(50% - 102px/2);
  transition: all .6s ease-in;
}
/* line 82, ../sass/partials/_header.scss */
.logo.first svg {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 5;
}
/* line 91, ../sass/partials/_header.scss */
.logo .piece {
  opacity: 0;
}

/* line 99, ../sass/partials/_header.scss */
#work-page .logo .piece,
#about-page .logo .piece {
  opacity: 1;
}

/* line 105, ../sass/partials/_header.scss */
#bg-white {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FAFAFA;
  z-index: 100;
  transition: all 4s linear;
}

@media only screen and (max-width: 768px) {
  /* line 121, ../sass/partials/_header.scss */
  header {
    width: 100vw;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 125, ../sass/partials/_header.scss */
  header .menu-content {
    top: 32px;
  }
  /* line 131, ../sass/partials/_header.scss */
  header .menu-content.open-menu-sp {
    opacity: 1;
    visibility: visible;
  }
  /* line 136, ../sass/partials/_header.scss */
  header .menu-content.open-menu-sp .wrap-links-sp li {
    margin-bottom: 32px;
  }
  /* line 139, ../sass/partials/_header.scss */
  header .menu-content.open-menu-sp .wrap-links-sp li a {
    opacity: 1;
    letter-spacing: 8px;
    transition: all .6s ease;
  }
  /* line 144, ../sass/partials/_header.scss */
  header .menu-content.open-menu-sp .wrap-links-sp li a:after {
    display: none;
  }

  /* line 154, ../sass/partials/_header.scss */
  .logo {
    top: 32px;
    left: 6%;
    transition: all .4s ease-in;
  }
  /* line 159, ../sass/partials/_header.scss */
  .logo #logo-rt {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all .4s ease-in;
  }
  /* line 164, ../sass/partials/_header.scss */
  .logo.first {
    position: fixed;
    top: calc(50% - 120px/2);
    left: calc(50% - 102px/2);
  }
  /* line 169, ../sass/partials/_header.scss */
  .logo.first #logo-rt {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
  }
}
/* line 3, ../sass/partials/_footer.scss */
footer {
  position: relative;
  height: auto;
  width: 100%;
  padding: 80px 0;
  text-align: center;
}
/* line 10, ../sass/partials/_footer.scss */
footer:before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 1px;
  top: 0px;
  left: 20%;
  background-color: #DADADA;
}
/* line 21, ../sass/partials/_footer.scss */
footer .logo-bottom {
  position: relative;
  width: 80px;
  margin: 0 auto 24px;
  opacity: .3;
  overflow: hidden;
}
/* line 28, ../sass/partials/_footer.scss */
footer .logo-bottom svg {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  width: 80px;
  height: 80px;
}
/* line 33, ../sass/partials/_footer.scss */
footer .logo-bottom svg #logo-2 {
  fill: #dadada;
}
/* line 38, ../sass/partials/_footer.scss */
footer .logo-bottom .wrap-gauge {
  position: absolute;
  top: 30%;
  left: 0;
  display: inline-block;
  width: 60%;
  height: 70%;
  z-index: 2;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 48, ../sass/partials/_footer.scss */
footer .logo-bottom .wrap-gauge #gauge-2 {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #DADADA;
  /*transition: all .2s ease-in;*/
}
/* line 60, ../sass/partials/_footer.scss */
footer .contact-links {
  margin-bottom: 40px;
}
/* line 63, ../sass/partials/_footer.scss */
footer .contact-links ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 71, ../sass/partials/_footer.scss */
footer .contact-links ul li {
  -webkit-transform: translateY(16px);
  -moz-transform: translateY(16px);
  -ms-transform: translateY(16px);
  transform: translateY(16px);
}
/* line 74, ../sass/partials/_footer.scss */
footer .contact-links ul li a {
  position: relative;
  display: inline-block;
}
/* line 83, ../sass/partials/_footer.scss */
footer .copyright {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  /* line 91, ../sass/partials/_footer.scss */
  #contact .contact-links ul {
    width: 90%;
    font-size: 3.5vw;
  }
}
/*	EACH PAGE  */
/* line 2, ../sass/page/_front-page.scss */
.main-view {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
/* line 9, ../sass/page/_front-page.scss */
.main-view .senter-object {
  position: fixed;
  width: auto;
  top: 35vh;
  left: calc(50% - 604px/2);
  text-align: left;
  opacity: 1;
  transition: all .6s ease;
}
/* line 18, ../sass/page/_front-page.scss */
.main-view .senter-object .greetig-1 {
  position: absolute;
  left: 210px;
  font-size: 12rem;
  text-align: right;
  color: #DFE1EA;
  opacity: 0;
  -webkit-transform: translateX(-60px) translateY(20px);
  -moz-transform: translateX(-60px) translateY(20px);
  -ms-transform: translateX(-60px) translateY(20px);
  transform: translateX(-60px) translateY(20px);
}
/* line 28, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text {
  position: relative;
  text-align: left;
  z-index: 2;
}
/* line 35, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name,
.main-view .senter-object .main-text .my-name .last-name {
  font-size: 12rem;
  line-height: 10rem;
  letter-spacing: -1.7rem;
  color: #DEDC00;
}
/* line 42, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name .ryu,
.main-view .senter-object .main-text .my-name .first-name .taka,
.main-view .senter-object .main-text .my-name .last-name .ryu,
.main-view .senter-object .main-text .my-name .last-name .taka {
  display: inline-flex;
  width: 9rem;
  overflow: hidden;
}
/* line 48, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name .ryu .ch,
.main-view .senter-object .main-text .my-name .first-name .taka .ch,
.main-view .senter-object .main-text .my-name .last-name .ryu .ch,
.main-view .senter-object .main-text .my-name .last-name .taka .ch {
  -webkit-transform: translateX(-90px);
  -moz-transform: translateX(-90px);
  -ms-transform: translateX(-90px);
  transform: translateX(-90px);
}
/* line 54, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name {
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  transform: translateX(-6px);
}
/* line 59, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name .ryu:nth-child(2) {
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
}
/* line 62, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .first-name .ryu:nth-child(3) {
  -webkit-transform: translateX(-52px);
  -moz-transform: translateX(-52px);
  -ms-transform: translateX(-52px);
  transform: translateX(-52px);
}
/* line 70, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(2) {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
}
/* line 73, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(3) {
  -webkit-transform: translateX(-58px);
  -moz-transform: translateX(-58px);
  -ms-transform: translateX(-58px);
  transform: translateX(-58px);
}
/* line 76, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(4) {
  -webkit-transform: translateX(-78px);
  -moz-transform: translateX(-78px);
  -ms-transform: translateX(-78px);
  transform: translateX(-78px);
}
/* line 79, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(5) {
  -webkit-transform: translateX(-96px);
  -moz-transform: translateX(-96px);
  -ms-transform: translateX(-96px);
  transform: translateX(-96px);
}
/* line 82, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(6) {
  -webkit-transform: translateX(-112px);
  -moz-transform: translateX(-112px);
  -ms-transform: translateX(-112px);
  transform: translateX(-112px);
}
/* line 85, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(7) {
  -webkit-transform: translateX(-132px);
  -moz-transform: translateX(-132px);
  -ms-transform: translateX(-132px);
  transform: translateX(-132px);
}
/* line 88, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(8) {
  -webkit-transform: translateX(-173px);
  -moz-transform: translateX(-173px);
  -ms-transform: translateX(-173px);
  transform: translateX(-173px);
}
/* line 91, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(9) {
  -webkit-transform: translateX(-186px);
  -moz-transform: translateX(-186px);
  -ms-transform: translateX(-186px);
  transform: translateX(-186px);
}
/* line 97, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-job {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 2.4rem;
  color: #DEDC00;
}
/* line 104, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-job .rectangle-job {
  position: absolute;
  display: block;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  right: auto;
  background-color: #DEDC00;
}
/* line 115, ../sass/page/_front-page.scss */
.main-view .senter-object .main-text .my-job .text-job {
  display: block;
  opacity: 0;
  /*@include prefix-transform(translateY(-30px));*/
}
/* line 124, ../sass/page/_front-page.scss */
.main-view .scroll {
  position: fixed;
  display: block;
  height: 80px;
  bottom: 0;
  left: calc(50% - 54px/2);
  opacity: 0;
  transition: all .6s ease;
}
/* line 133, ../sass/page/_front-page.scss */
.main-view .scroll p {
  margin-top: 24px;
  font-size: 1rem;
  color: #DEDC00;
  transition: all .6s ease;
}
/* line 140, ../sass/page/_front-page.scss */
.main-view .scroll .line-scroll {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  top: 0;
  overflow: hidden;
}
/* line 148, ../sass/page/_front-page.scss */
.main-view .scroll .line-scroll:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #DEDC00;
  animation: rotation 2s cubic-bezier(0.66, 0.01, 0.29, 1.01) 0s infinite normal running;
}
@keyframes rotation {
  0% {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
  }
}
/* line 175, ../sass/page/_front-page.scss */
.work-area {
  width: 100%;
  padding-top: 400px;
  overflow: hidden;
}
/* line 180, ../sass/page/_front-page.scss */
.work-area .inner {
  width: 88%;
  margin: 0 auto;
}
/* line 184, ../sass/page/_front-page.scss */
.work-area .inner .teaser {
  display: block;
  width: 100%;
  margin-bottom: 60%;
}
/* line 189, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure {
  position: relative;
  width: 70%;
  z-index: 0;
}
/* line 194, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0rem;
  overflow: hidden;
  transition: all .6s ease;
}
/* line 202, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a .darkblue {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(2, 17, 75, 0.6);
  z-index: 1;
  transition: all .6s ease;
}
/* line 214, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a:hover > img {
  filter: grayscale(0);
}
/* line 218, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a:hover > .darkblue {
  opacity: 0;
}
/* line 222, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a:hover + .rec {
  opacity: 0;
  filter: blur(20px);
}
/* line 227, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a:hover {
  box-shadow: 8px 8px 60px rgba(0, 0, 0, 0.15);
}
/* line 231, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure a img {
  position: absolute;
  opacity: 1;
  top: 0;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 1s ease;
}
/* line 241, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure .rec {
  opacity: 1;
  transition: all 1s ease;
}
/* line 246, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure .rectangle-01 {
  width: 60%;
  height: 0%;
  background: #DEDC00;
  position: absolute;
  right: -12%;
  top: 10px;
  z-index: -1;
}
/* line 256, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure .rectangle-02 {
  width: 40%;
  height: 0%;
  background: #DEDC00;
  position: absolute;
  left: -6%;
  top: 300px;
  z-index: -1;
}
/* line 266, ../sass/page/_front-page.scss */
.work-area .inner .teaser figure .rectangle-03 {
  width: 40%;
  height: 0%;
  background: #DEDC00;
  position: absolute;
  left: 46%;
  top: -60px;
  z-index: -1;
}
/* line 277, ../sass/page/_front-page.scss */
.work-area .inner .teaser .teaser-ditail {
  position: relative;
  display: inline-block;
  width: 30%;
}
/* line 282, ../sass/page/_front-page.scss */
.work-area .inner .teaser .teaser-ditail .type,
.work-area .inner .teaser .teaser-ditail .title-work,
.work-area .inner .teaser .teaser-ditail .explan-s {
  opacity: 0;
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
/* line 289, ../sass/page/_front-page.scss */
.work-area .inner .teaser .teaser-ditail .link-work-sp {
  display: none;
}
/* line 293, ../sass/page/_front-page.scss */
.work-area .inner .teaser .teaser-ditail h3 {
  position: relative;
}
/* line 301, ../sass/page/_front-page.scss */
.work-area .inner .right figure {
  float: right;
}
/* line 305, ../sass/page/_front-page.scss */
.work-area .inner .right .teaser-ditail {
  text-align: right;
  padding-right: 2%;
}
/* line 313, ../sass/page/_front-page.scss */
.work-area .inner .right .teaser-ditail .title-work.stretch:after {
  width: 60%;
}
/* line 318, ../sass/page/_front-page.scss */
.work-area .inner .right .teaser-ditail .title-work:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  bottom: -4px;
  right: -20%;
  background-color: #DEDC00;
  transition: all .6s ease;
}
/* line 335, ../sass/page/_front-page.scss */
.work-area .inner .teaser.left figure {
  float: left;
}
/* line 339, ../sass/page/_front-page.scss */
.work-area .inner .teaser.left .teaser-ditail {
  text-align: left;
  padding-left: 2%;
}
/* line 343, ../sass/page/_front-page.scss */
.work-area .inner .teaser.left .teaser-ditail .type,
.work-area .inner .teaser.left .teaser-ditail .title-work,
.work-area .inner .teaser.left .teaser-ditail .explan-s {
  opacity: 0;
  -webkit-transform: translateX(-16px);
  -moz-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}
/* line 354, ../sass/page/_front-page.scss */
.work-area .inner .teaser.left .teaser-ditail .title-work.stretch:after {
  width: 60%;
}
/* line 359, ../sass/page/_front-page.scss */
.work-area .inner .teaser.left .teaser-ditail .title-work:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: -20%;
  background-color: #DEDC00;
  transition: all .6s ease;
}

@media only screen and (min-width: 769px) and (max-width: 1140px) {
  /* line 382, ../sass/page/_front-page.scss */
  .main-view #senter-object .greetig-1 {
    left: 196px;
  }
  /* line 388, ../sass/page/_front-page.scss */
  .main-view #senter-object .main-text .my-name .first-name,
  .main-view #senter-object .main-text .my-name .last-name {
    font-size: 11rem;
    line-height: 9rem;
    letter-spacing: -4rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 407, ../sass/page/_front-page.scss */
  .main-view .senter-object {
    top: 45vh;
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 6%;
  }
  /* line 414, ../sass/page/_front-page.scss */
  .main-view .senter-object .greetig-1 {
    left: -2%;
    right: -2%;
    top: -22%;
    font-size: 33vw;
    color: #efefef;
  }
  /* line 425, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .first-name,
  .main-view .senter-object .main-text .my-name .last-name {
    font-size: 14vw;
    line-height: 12vw;
    letter-spacing: -8vw;
  }
  /* line 432, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .first-name .ryu,
  .main-view .senter-object .main-text .my-name .first-name .taka,
  .main-view .senter-object .main-text .my-name .last-name .ryu,
  .main-view .senter-object .main-text .my-name .last-name .taka {
    width: 12%;
  }
  /* line 438, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .first-name {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  /* line 443, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .first-name .ryu:nth-child(2) {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  /* line 446, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .first-name .ryu:nth-child(3) {
    -webkit-transform: translateX(-18px);
    -moz-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
  }
  /* line 453, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(2) {
    -webkit-transform: translateX(-16px);
    -moz-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
  }
  /* line 456, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(3) {
    -webkit-transform: translateX(-21px);
    -moz-transform: translateX(-21px);
    -ms-transform: translateX(-21px);
    transform: translateX(-21px);
  }
  /* line 459, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(4) {
    -webkit-transform: translateX(-29px);
    -moz-transform: translateX(-29px);
    -ms-transform: translateX(-29px);
    transform: translateX(-29px);
  }
  /* line 462, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(5) {
    -webkit-transform: translateX(-34px);
    -moz-transform: translateX(-34px);
    -ms-transform: translateX(-34px);
    transform: translateX(-34px);
  }
  /* line 465, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(6) {
    -webkit-transform: translateX(-39px);
    -moz-transform: translateX(-39px);
    -ms-transform: translateX(-39px);
    transform: translateX(-39px);
  }
  /* line 468, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(7) {
    -webkit-transform: translateX(-43px);
    -moz-transform: translateX(-43px);
    -ms-transform: translateX(-43px);
    transform: translateX(-43px);
  }
  /* line 471, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(8) {
    -webkit-transform: translateX(-57px);
    -moz-transform: translateX(-57px);
    -ms-transform: translateX(-57px);
    transform: translateX(-57px);
  }
  /* line 474, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-name .last-name > .taka:nth-child(9) {
    -webkit-transform: translateX(-59px);
    -moz-transform: translateX(-59px);
    -ms-transform: translateX(-59px);
    transform: translateX(-59px);
  }
  /* line 480, ../sass/page/_front-page.scss */
  .main-view .senter-object .main-text .my-job {
    font-size: 5vw;
    line-height: 6vw;
  }
  /* line 487, ../sass/page/_front-page.scss */
  .main-view #scroll {
    position: absolute;
  }

  /* line 494, ../sass/page/_front-page.scss */
  #work {
    padding-top: 200px;
  }
  /* line 498, ../sass/page/_front-page.scss */
  #work .inner .teaser {
    margin-bottom: 200px;
    background-color: #fafafa;
    box-shadow: 4px 4px 20px transparent;
  }
  /* line 503, ../sass/page/_front-page.scss */
  #work .inner .teaser figure {
    float: none;
    margin-bottom: 24px;
    width: 100%;
    overflow: hidden;
  }
  /* line 509, ../sass/page/_front-page.scss */
  #work .inner .teaser figure a {
    height: 240px;
  }
  /* line 512, ../sass/page/_front-page.scss */
  #work .inner .teaser figure a .darkblue {
    display: none;
  }
  /* line 516, ../sass/page/_front-page.scss */
  #work .inner .teaser figure a img {
    opacity: 0;
    filter: none;
    transform: translateX(-10%);
  }
  /* line 523, ../sass/page/_front-page.scss */
  #work .inner .teaser figure .rec {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    transform: translateX(-140%) scale(1) skewX(40deg);
  }
  /* line 536, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail {
    width: 100%;
    padding: 0 16px 24px;
    text-align: left;
  }
  /* line 541, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail .type,
  #work .inner .teaser .teaser-ditail .title-work,
  #work .inner .teaser .teaser-ditail .explan-s {
    -webkit-transform: translateX(-16px);
    -moz-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
  }
  /* line 546, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail .type:after,
  #work .inner .teaser .teaser-ditail .title-work:after,
  #work .inner .teaser .teaser-ditail .explan-s:after {
    display: none;
  }
  /* line 551, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail .link-work-sp {
    display: block;
    position: absolute;
    top: -42px;
    right: -8px;
    padding: 8px 32px;
    overflow: hidden;
  }
  /* line 559, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail .link-work-sp .text-link {
    opacity: 0;
    display: inline-block;
    -webkit-transform: translateX(-32px);
    -moz-transform: translateX(-32px);
    -ms-transform: translateX(-32px);
    transform: translateX(-32px);
    color: #ffffff;
    position: relative;
    z-index: 2;
  }
  /* line 568, ../sass/page/_front-page.scss */
  #work .inner .teaser .teaser-ditail .link-work-sp .bg-link {
    background-color: #DEDC00;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(-140%) skewX(40deg);
    -moz-transform: translateX(-140%) skewX(40deg);
    -ms-transform: translateX(-140%) skewX(40deg);
    transform: translateX(-140%) skewX(40deg);
  }
}
/* line 6, ../sass/page/_work.scss */
#work-page header .menu-content {
  opacity: 1;
  right: 6%;
}
/* line 12, ../sass/page/_work.scss */
#work-page .main-view-work {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 5%;
  margin-bottom: 240px;
}
/* line 19, ../sass/page/_work.scss */
#work-page .main-view-work .senter-work {
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 240px;
  padding-right: 24px;
  text-align: left;
  color: #9D9D9C;
}
/* line 28, ../sass/page/_work.scss */
#work-page .main-view-work .senter-work .job {
  margin-top: 16px;
}
/* line 33, ../sass/page/_work.scss */
#work-page .main-view-work .img-work {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 550px;
}
/* line 39, ../sass/page/_work.scss */
#work-page .main-view-work .img-work .link {
  position: absolute;
  display: block;
  bottom: 80px;
  right: -16px;
  color: #DEDC00;
  letter-spacing: 4px;
  padding: 16px 40px;
  background-color: #02114B;
  transform: translateX(0);
  opacity: 0;
  z-index: 5;
}
/* line 52, ../sass/page/_work.scss */
#work-page .main-view-work .img-work .link:hover {
  color: #02114B;
  background-color: #DEDC00;
}
/* line 57, ../sass/page/_work.scss */
#work-page .main-view-work .img-work .link:hover + .area-mainimg > .workpic {
  height: 103%;
}
/* line 62, ../sass/page/_work.scss */
#work-page .main-view-work .img-work .area-mainimg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* line 69, ../sass/page/_work.scss */
#work-page .main-view-work .img-work .area-mainimg img {
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 180%;
  max-height: 150%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: height 1s ease;
}
/* line 85, ../sass/page/_work.scss */
#work-page .main-view-work .bg-black {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #02114B;
  transform: translateY(0%) skewY(0deg);
  z-index: -1;
}
/* line 99, ../sass/page/_work.scss */
#work-page .overview {
  margin-bottom: 160px;
}
/* line 102, ../sass/page/_work.scss */
#work-page .overview .title-projects {
  width: 20%;
  float: left;
}
/* line 107, ../sass/page/_work.scss */
#work-page .overview .paragraph-projects {
  display: inline-block;
  width: 80%;
}
/* line 114, ../sass/page/_work.scss */
#work-page .previous {
  overflow: hidden;
  margin-bottom: 160px;
}
/* line 118, ../sass/page/_work.scss */
#work-page .previous .img-pre {
  width: 50%;
  float: left;
}
/* line 122, ../sass/page/_work.scss */
#work-page .previous .img-pre img {
  width: 100%;
}
/* line 127, ../sass/page/_work.scss */
#work-page .previous .explanation-projects {
  width: 50%;
  display: inline-block;
  padding-left: 4%;
}
/* line 132, ../sass/page/_work.scss */
#work-page .previous .explanation-projects .title-s-work {
  margin-bottom: 32px;
}
/* line 141, ../sass/page/_work.scss */
#work-page .website .title-projects {
  width: 20%;
  float: left;
}
/* line 146, ../sass/page/_work.scss */
#work-page .website .paragraph-projects {
  display: inline-block;
  width: 80%;
}
/* line 151, ../sass/page/_work.scss */
#work-page .website .front-page {
  margin: 40px 0;
  width: 100%;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
/* line 156, ../sass/page/_work.scss */
#work-page .website .front-page img {
  width: 100%;
}
/* line 161, ../sass/page/_work.scss */
#work-page .website .sp-site {
  width: 100vw;
  margin: 0px -8.5%;
}
/* line 165, ../sass/page/_work.scss */
#work-page .website .sp-site.app-img {
  margin-top: 40px;
}
/* line 172, ../sass/page/_work.scss */
#work-page .title-s-work {
  position: relative;
  transform: translateX(-20px);
  opacity: 0;
  transition: all .6s ease;
}
/* line 178, ../sass/page/_work.scss */
#work-page .title-s-work.fade-in-title-s {
  transform: translateX(0);
  opacity: 1;
}
/* line 182, ../sass/page/_work.scss */
#work-page .title-s-work.fade-in-title-s:after {
  width: 60px;
}
/* line 187, ../sass/page/_work.scss */
#work-page .title-s-work:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: -6%;
  background-color: #DEDC00;
  transition: width 1s ease;
}
/* line 200, ../sass/page/_work.scss */
#work-page .next-project {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  padding-top: 88px;
  text-align: center;
  overflow: hidden;
  background-color: #02114B;
  transition: all .4s ease;
}
/* line 211, ../sass/page/_work.scss */
#work-page .next-project .wrap-title-next {
  position: relative;
}
/* line 215, ../sass/page/_work.scss */
#work-page .next-project .wrap-title-next .title-next {
  display: block;
  position: relative;
  margin: auto;
  color: #DADADA;
  font-weight: 200;
  line-height: 2rem;
  letter-spacing: .2rem;
  z-index: 5;
}
/* line 226, ../sass/page/_work.scss */
#work-page .next-project .wrap-title-next .bg-font-next {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #DADADA;
  font-size: 12rem;
  opacity: .2;
  z-index: 1;
}
/* line 241, ../sass/page/_work.scss */
#work-page .next-project .bg-next-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  height: 100%;
  z-index: 0;
  transition: all .4s ease;
}
/* line 252, ../sass/page/_work.scss */
#work-page .next-project .bg-next-img.to-work1 {
  background-image: url("../images/work_01.jpg");
}
/* line 256, ../sass/page/_work.scss */
#work-page .next-project .bg-next-img.to-work2 {
  background-image: url("../images/work_02.jpg");
}
/* line 260, ../sass/page/_work.scss */
#work-page .next-project .bg-next-img.to-work3 {
  background-image: url("../images/work_03.jpg");
}
/* line 266, ../sass/page/_work.scss */
#work-page .next-project:hover .bg-next-img {
  filter: blur(3px);
}

@media only screen and (max-width: 768px) {
  /* line 279, ../sass/page/_work.scss */
  #work-page .main-view-work {
    margin-bottom: 200px;
  }
  /* line 282, ../sass/page/_work.scss */
  #work-page .main-view-work .senter-work {
    position: relative;
    z-index: 5;
  }
  /* line 287, ../sass/page/_work.scss */
  #work-page .main-view-work .img-work {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  /* line 297, ../sass/page/_work.scss */
  #work-page .main-view-work .img-work .link {
    color: #DEDC00;
    border: 2px solid #DEDC00;
    right: 16px;
    bottom: 16px;
    background-color: rgba(255, 255, 255, 0);
  }
  /* line 305, ../sass/page/_work.scss */
  #work-page .main-view-work .img-work .area-mainimg {
    opacity: .2;
  }
  /* line 311, ../sass/page/_work.scss */
  #work-page .paragraph-projects {
    margin-top: 32px;
    width: 100%;
  }
  /* line 320, ../sass/page/_work.scss */
  #work-page .overview .img-pre,
  #work-page .previous .img-pre,
  #work-page .website .img-pre {
    width: 100%;
    float: none;
    margin-bottom: 16px;
  }
  /* line 326, ../sass/page/_work.scss */
  #work-page .overview .title-projects,
  #work-page .previous .title-projects,
  #work-page .website .title-projects {
    width: 100%;
    float: none;
  }
  /* line 331, ../sass/page/_work.scss */
  #work-page .overview .title-projects .title-s-work:after,
  #work-page .previous .title-projects .title-s-work:after,
  #work-page .website .title-projects .title-s-work:after {
    left: -10px;
  }
  /* line 337, ../sass/page/_work.scss */
  #work-page .overview .paragraph-projects,
  #work-page .overview .explanation-projects,
  #work-page .previous .paragraph-projects,
  #work-page .previous .explanation-projects,
  #work-page .website .paragraph-projects,
  #work-page .website .explanation-projects {
    width: 100%;
    margin-top: 32px;
  }
  /* line 345, ../sass/page/_work.scss */
  #work-page .next-project .bg-next-img {
    opacity: 0.5;
    filter: blur(2px);
  }
}
/* line 4, ../sass/page/_about.scss */
#about-page header .menu-content {
  opacity: 1;
  right: 6%;
}
/* line 10, ../sass/page/_about.scss */
#about-page .about {
  padding-top: 30vh;
  max-margin-bottom: 160px;
}
/* line 14, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent {
  position: relative;
  min-height: 324px;
  width: 860px;
  margin: 0 auto;
}
/* line 20, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent img {
  position: relative;
  width: 200px;
  height: auto;
  float: left;
  z-index: 1;
}
/* line 28, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .text-area {
  min-width: 50%;
  max-width: 76%;
  padding: 5%;
  display: inline-block;
}
/* line 34, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .text-area h1 {
  margin-bottom: 24px;
  color: #9D9D9C;
}
/* line 40, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .bg-yellow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #DEDC00 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 52, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .wrap-a {
  position: absolute;
  display: block;
  width: 130px;
  height: 100px;
  bottom: -16px;
  right: -16px;
  z-index: 1;
  transition: right .6s ease;
}
/* line 62, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .wrap-a .link-contact {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 100px;
  padding: 72px 0 16px 40px;
  color: #706F6F;
  z-index: 1;
  transition: color .6s ease;
}
/* line 73, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .wrap-a:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 100px 130px;
  border-color: transparent transparent #DEDC00 transparent;
}
/* line 86, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .wrap-a:hover {
  right: -24px;
}
/* line 89, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .wrap-a:hover .link-contact {
  color: #02114B;
}
/* line 95, ../sass/page/_about.scss */
#about-page .about .wrap-aboutcontent .bg-about {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02114B;
  z-index: -5;
}

@media only screen and (max-width: 768px) {
  /* line 118, ../sass/page/_about.scss */
  #about-page .about {
    padding-top: 120px;
    margin-bottom: 120px;
  }
  /* line 122, ../sass/page/_about.scss */
  #about-page .about .wrap-aboutcontent {
    width: 90%;
  }
  /* line 125, ../sass/page/_about.scss */
  #about-page .about .wrap-aboutcontent .my-face {
    transform: translateX(-10%) translateY(-10%);
  }
  /* line 129, ../sass/page/_about.scss */
  #about-page .about .wrap-aboutcontent .text-area {
    max-width: 100%;
    padding: 0 10% 30%;
  }
  /* line 134, ../sass/page/_about.scss */
  #about-page .about .wrap-aboutcontent .bg-yellow {
    border-width: 200px 170px 0 0;
  }
}
